node_modules
build
dist
.cache
.tmp
.tmp*
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.git
.gitignore
.env
.env.*
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
backups
backup
dumps
dump
coverage
*.log
.vscode
.idea
*.swp
*.swo
*~
